
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,300;1,300&display=swap');

:root{
  --bg-head: rgba(39,39,39);
  --bg-head-light: rgba(0, 0, 0, 0.518);
  --bg-nav: #ffffff;
  --clr-coral: #C33329;
  --clr-yellow: #F6BA33;
  --font-family: "Bebas Neue", sans-serif;
  --font-family-mont:"Montserrat", sans-serif;  
}
#root {
  /* max-width: 1280px; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.modal>.messag{
  width: 50%;
  height: 30%;
}

.sp-modal{
  width: 100%;
  height: 100%;
  background-color: var(--bg-head-light);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-head);
  font-size: 1rem;
}
.modal{
  position: absolute;
  margin-top: -100vh;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(1rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content:space-evenly;
  align-items: center;

}




/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#f03355 95%,#0000) 50% 1px/12px 12px no-repeat,
    radial-gradient(farthest-side,#0000 calc(100% - 14px),#ccc 0);
  animation: l9 2s infinite linear;
}
@keyframes l9 {to{transform: rotate(1turn)}}










.modal>div>input{
  /* margin-left: 30%; */
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: .5rem 1rem;
  background-color: var(--clr-yellow);
  color: var(--bg-nav);
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--font-family-mont);
}
.hidden{
  display: none;
}

.red{
  color: red;
}

.show{
  display: flex;
}
header{
  position: absolute;
  height: 6rem;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--bg-head);
}
.wrapp-nav{
  position: relative;
  top: 1.5rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-nav);
  z-index: -1;
}
.navbar{
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-nav);
}

.logo{
  position: absolute;
  height: 4.5rem;
  display: flex;
  align-items: center;
  z-index: 2;
}
.m-l-logo{
  margin-left: 1rem;
}

.container-nav-l{
  margin-top: -2rem;
  width: 100%;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  visibility: hidden;

}
a{

  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--font-family-mont);
  color: var(--bg-nav);
  line-height: 1.1428571429;
  letter-spacing: 4px;
  cursor: pointer;
}


.r-menu{
  padding: 1.5rem 0;
  width: 100%;
  height: 4.5rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: end;
  border: 0;
}

.img-m{
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  background: url(./assets/menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.head-togg{
  position: fixed;
  overflow-y: hidden;
  height: 100vh;
  background-color: var(--bg-head-light);
  color: var(--nav-bg);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  z-index: 10;

}

.url-togg {

  padding: 0;
  background: url(./assets/close.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.a-visible{
  visibility: visible;
}

.active{
  color: var(--clr-yellow);
}




.cont-routes{
  width: 100%;
  margin-top: 6rem;

}

/* ------------------------------------------MAIN HOME-------------------------------------------------- */




.cont-bg-hm-sect1{
  width: 100%;
  height: calc(100vh - 6rem);
  background: url(./assets/jas-home.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.cont-welc-home{
  position: absolute;
  width: 100%;
  top: 0rem;
  background-color: transparent;
  height: 100%;
  padding: 2rem 1rem;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--bg-nav);
}
.cont-welc-h{
  width: 100%;
  
}

.txt-welc-hom{
  width: 100%;
  margin-bottom: 1.2rem;
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: 0.3em;
  text-align: center;
  font-family: var(--font-family-mont);
}
.cont-welc-h>h1{
  width: 100%;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.4em;

}

.cont-welc-home > p{

  width: 100%;
  text-align: center;
  font-family: var(--font-family-mont);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8em;
  font-size: 1rem;
  letter-spacing: 0.02em;


}


.cont-but-h{

  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--bg-nav);

}

.cont-but-h > a{
  padding: 1rem 3rem;
  align-items: center;
  font-family: var(--font-family-mont);
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: 0.3em;
  background-color: var(--clr-coral);
  border: none;
  cursor: pointer;
  transition: background .7s linear;
}

.a-bg-hov:hover{
  background-color: var(--clr-yellow);
  color: var(--bg-head);
}




/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.s-sect-hom{
  padding: 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--bg-nav);
}

.s-sect-hom>h3{

  width: 100%;
  text-align: center;
  font-size: .9rem;
  font-family: var(--font-family-mont);
  font-weight: 400;
  letter-spacing: 0.3em;
  color: #272727;
}

.s-sect-hom>h2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.4em;
  color: var(--clr-coral);

}

.s-sect-hom>h2::after,.s-sect-hom>h2::before{
  width: 15%;
  height: 1px;
  content: '';
  position: absolute;
  border-top: 2px solid var(--bg-head);
}
.s-sect-hom>h2::after{
  right: 2.5rem;
}

.s-sect-hom>h2::before{
  left: 2.5rem;
}


.cont-item-h{
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  background-color: var(--bg-nav);

}

.cont-item-h>a:hover{
  transform: scale(1.2);
}

.cont-item-h>a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: transform .6s ease;
}

.cont-item-h>a>img{
  width: 20%;
}

.cont-item-h>a>h3{
  width: 80%;
  line-height: 2em;
  letter-spacing: .15em;
  cursor: pointer;
  text-align: center;
  font-family: var(--font-family-mont);
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--bg-head);

}

.cont-item-h>a>h3:hover{
  color: var(--clr-yellow);
}



/* ---------------------------------------------Footer------------------------------------------------------------------------- */
.copy-bef{
  display: none;
}

.copy{
  margin-bottom: 3rem;
  background-color: var(--bg-head);
  height:5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy>h4{
  width: 100%;
  text-align: center;
  font-size: .7rem;
  letter-spacing: 0.3em;
  line-height: 1.4em;
  color: var(--bg-nav);
}
.cont-help{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: black;
  height: 7vh;
  display: flex;
  z-index: 10;
}
.cont-help>a{
  height: 100%;
  width: 25%;
  border-right:1px solid rgba(255, 255, 255, 0.163);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-help>a>img{
  width: 50%;
  height: 50%;
}









/* --------------------------------------------------------ABOUT SECTION------------------------------------------------------------------- */

.card-about{
  display: flex;
  flex-direction: column;
  gap: 2rem; 
}
.card-about-d{
  width: 100%;
  height: 25rem;

}

.card-img-ab{
  position: absolute;
  width: 100%;
  background: url('./assets/about_main.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.photo-card-all{
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cont-m-pho-lap{
  position: absolute;
  width: 100%;
  height: 25rem;
}


.cover-bg-photo{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-head-light);
}

.wrap-img-card{
  position: absolute;
  width: 100%;
  height: 25rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.wrap-img-card>img{
  width: 100%;

}

.sect-inf-ab-phot{
  display: none;
}

.card-text-ab{
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.btn-contact{
  display: none;
}
.card-text-ab>h3, .card-text-ab>div:nth-child(1)>h3{
  padding: 1rem 0;
}

.card-text-ab>h1, .card-text-ab>div:nth-child(1)>h1{
  margin-top: 1rem;
  color: var(--clr-coral);
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.4em;
}

.card-text-ab>p, .card-text-ab>div:nth-child(1)>p{
  margin-top: 1rem;
  margin-bottom: 1em;
  color: var(--bg-head);
  font-family: var(--font-family-mont);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.02em;
  line-height: 1.8em;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.galery-about{
  background-color: var(--clr-yellow);
}

.card-gal-ab{
  background-color: var(--clr-yellow);
  height: 10rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; 

}

.card-gal-ab>h3{

  font-family: montserrat, sans-serif;
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: 0.3em;

}


.card-gal-ab>h2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.4em;


}

.card-gal-ab>h2::after,.card-gal-ab>h2::before{
  width: 15%;
  height: 1px;
  content: '';
  position: absolute;
  border-top: 2px solid var(--bg-head);
}
.card-gal-ab>h2::after{
  right: 2.5rem;
}

.card-gal-ab>h2::before{
  left: 2.5rem;
}


.grid-galery{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: .5rem;
  overflow: hidden;
}
.grid-galery>div{
  width: 100%;
}

.grid-galery>div>img{
  width: 100%;
  object-fit:cover;
  user-select: none;
}
.grid-galery>div{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.grid-galery>div:nth-child(1), .grid-galery>div:nth-child(3n+4){
  grid-column: 1 / span 2;
}



/* --------------------------------------------------SERVICES SECTION--------------------------------------------------------------------- */
.detaill{
 
}

.items-serv{
  display: none;
}

.items-serv>.cont-item-h{
  margin-bottom: 0;
}
.g-serv-sect{
  display: grid;
  grid-template-columns: 1fr;

}
.card-img-ser{

  background: url('./assets/1_grid.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cont-det-g-inf{
  background: url('./assets/layout.webp');
  background-size: cover;
  background-position: center;
}

.con-bg-layout{
  background-color: rgba(195,51,41,.85);
}

.con-bg-layout>div{
  width: 100%;
  padding: 3rem 2.5rem;
}

.con-bg-layout>div>span{
  width: 100%;
  display: block;
  font-size: 1.8rem;
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: 0.05em;
  color: var(--bg-nav);
}
.g-cont-img-serv{
  display: none;
}

.con-bg-layout>div>ul{
  padding: 1rem 1rem;
  color: var(--bg-nav);
}
.con-bg-layout>div>ul>li{
  
  font-size: 0.9rem;
  font-family: var(--font-family-mont);
  font-weight: 400;
  font-style: normal;
  line-height: 1.9em;
  letter-spacing: 0.02em;
}


.img-img-full{
  width: 100%;
  height: 40vh;
}

.img-img-full>img{
  width: 100%;
  height: 100%;
  background-position: center center;
}




/* --------------------------------------------------EMPLOYMET SECTION ---------------------------------------------------------------------- */
.m-emp {
  background: url(./assets/employment_main.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-text-ab{
  display: flex;
  padding: 0 1rem;
}

.card-text-ab>h3, .card-text-ab>div:nth-child(1)>h3{
  color: var(--clr-yellow);
  font-family: montserrat, sans-serif;
  font-size: .8rem;
  font-weight: 400;
  letter-spacing: 0.3em;
}

.card-text-ab>h1, .card-text-ab>div:nth-child(1)>h1{
  margin-top: 1rem;
  color: var(--clr-coral);
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.4em;
}

.card-text-ab>p, .card-text-ab>div:nth-child(1)>p{
  margin-top: 1rem;
  margin-bottom: 1em;
  color: var(--bg-head);
  font-family: var(--font-family-mont);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.02em;
  line-height: 1.8em;
}



/*--------------------------------------------------CONTACT SECTION--------------------------------------------------------------------------*/


.sect-sec-cont{
  background-color: var(--bg-nav);
}
.card-img-cont {
  background: url(./assets/CONTACT_main.webp);
  background-size: cover;
  background-position: center;
}

.p-lay-cont{
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.9rem;
  font-family: var(--font-family-mont);
  font-weight: 400;
  font-style: normal;
  line-height: 1.9em;
  letter-spacing: 0.02em;
  color: var(--bg-nav);
}


.p-lay-cont>h2, .p-lay-cont>div>h4{
  width: 100%;
  display: block;
  font-size: 1.8rem;
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: 0.05em;
  color: var(--bg-head);
  }

  .p-lay-cont>div>h4{
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--font-family-mont);
  }
  .p-lay-cont>div{
    margin-top: 1rem;
    padding: 0;
  }

  .p-lay-cont>div>span{
    font-size: 1.2rem;
  }
  .p-lay-cont>div>a{
    color: var(--bg-nav);
    text-decoration-line: underline;
    letter-spacing: .5px;
  }


  /* /////////////////////////////////////////////////FORM//////////////////////////////////////////////////////////////////////////// */




  .bg-inf-cont>form{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bg-inf-cont>form>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bg-inf-cont>form>input,.bg-inf-cont>form>div>input, .bg-inf-cont>form>div>textarea{
    width: 70%;
    margin: 0 2rem;
    padding: 1.5rem 0 1rem 1rem;
    border: 0;
    border-bottom: 2px solid black;
    font-family: var(--font-family-mont);
    font-size: 1rem;
    outline: none;

  }

  .bg-inf-cont>form>div>input:active{
    outline: none;
  }

  .bg-inf-cont>form>textarea{
    padding: 1.5rem 0 3rem 1rem;
  }
  .bg-inf-cont>form>div>input[type="submit"]{
    width: 40%;
    border: none;
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--clr-coral);
    cursor: pointer;
    color: var(--bg-nav);
    transition: background .3s ease-in-out;
    outline: none;
    cursor: pointer;
  }

  .bg-inf-cont>form>div>input[type="submit"]:hover{
    background-color: var(--bg-head);
    color: var(--bg-nav);
  }







@media (min-width:768px) {



  .modal>.messag{
    width: 40%;
    height: 30%;
  }
  
  .sp-modal{
    margin-top: -5rem;

  }
  .modal{
    margin-top: 0;
    height: 100vh;  
  }
  
  

  .loader {
    margin-top: -7rem;
  }
  
  

    
header{
  height: 5rem;
  position: fixed;

}


.wrapp-nav{
  height: 5rem;
}
.navbar{
  width: 100%;
  height: 5rem;
  flex-direction: row;
  justify-content: space-around;
}

.logo{
  position: absolute;
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 2;
}
.m-l-logo{
  margin-left: 2rem;
}

.container-nav-l{

  margin: 0 3rem;
  height: 5rem;
  width: 100%;
  padding-top: 0;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: .7rem;
  visibility: visible;

}
.container-nav-l>a:nth-child(1){
  display: none;
}
a{
  font-size: .5rem;
  color: var(--bg-head);
}


.r-menu{
  display: none;
}


.head-togg{
  height: 4rem;
  background-color: var(--bg-nav);
  z-index: -1;

}

.cont-routes{

}

/* ------------------------------------------MAIN HOME-------------------------------------------------- */




.cont-bg-hm-sect1{
  width: 100%;
  height: calc(100vh - 6rem);
  background: url(./assets/jas-home.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

/* ------------------------------------------MAIN HOME-------------------------------------------------- */



.f-sect-hom{
  height: calc(100vh - 6rem);
}
.cont-bg-hm-sect1{
  background: url(./assets/jas-home-desk.webp);
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
}

.cont-welc-home{
  gap: 0;
}
.cont-welc-h{
  margin-top: 12rem;
  gap: .5rem;
}

.cont-welc-h>h1{
  font-size: 2.8rem;
  letter-spacing: 0.1em;
}

.cont-welc-home > p{
  padding: 1rem 4rem;
  font-size: .8rem;
  letter-spacing: 0.03em;


}


.cont-but-h{
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;


}

.cont-but-h > a{
  width: 20%;
  font-size: .7rem;
  font-weight: normal;
  padding: 1rem;
  color: var(--bg-nav);
}




/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */



.s-sect-hom>h2{
  font-size: 3rem;

}

.s-sect-hom>h2::after,.s-sect-hom>h2::before{

}
.s-sect-hom>h2::after{
  right: 8rem;
}

.s-sect-hom>h2::before{
  left: 8rem;
}


.cont-item-h{
  height: 100%;
  padding: 0 2rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

}
.cont-item-h>a{
  gap: 1rem;
}

.cont-item-h>a>img{
  width: 25%;
}

.cont-item-h>a>h3{
  font-size: 0.65rem;
}




/* ---------------------------------------------Footer------------------------------------------------------------------------- */

footer{
  display: none;
}
.copy{
  margin-bottom: 0;
}
.copy>h4{
  font-size: .5rem;
  letter-spacing: 0.3em;
  font-weight: 400;
}
.copy-bef{
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  background-color: rgba(58, 57, 57, 1);
  color: var(--bg-nav);
}

.copy-bef>div{
  font-size: .7rem;
}
.s-copy-b{
  color: var(--clr-yellow);  
}
.copy-bef>div>span{
  display: block;

}
.copy-bef>div>div>a{
  font-size: .7rem;
  color: var(--bg-nav);
  letter-spacing: 0.02em;
  text-decoration: underline;
  cursor: pointer;
}
.copy-bef>div:nth-child(1){
  width: 10%;
  height: 30%;
  display: flex;
  gap: .2rem;
}
.copy-bef>div:nth-child(4){
  width: 10%;
  height: 30%;
  display: flex;
  gap: .2rem;
}
.copy-bef>div:nth-child(4)>a>img{
  width: 100%;
  height: 100%;
}










/* --------------------------------------------------------ABOUT SECTION------------------------------------------------------------------- */

.card-about{
display: block;
}
.card-about-d{
height: 30rem;
}
.cont-m-pho-lap{
  position: fixed;
  z-index: -1;
  height: 30rem;
}


.card-img-ab{

}


.photo-card-all{
  height: 30rem;
}



.cover-bg-photo{

}

.wrap-img-card{
  position: absolute;
  width: 100%;
  height: 30rem;
  padding: 0;
}

.wrap-img-card>img{
  position: absolute;
  right: 0;
  bottom: -3.5rem;
  width: 50%;
  height: 35%;
}

.cont-inf-ab{
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* /////////////////////////////////////////////////////////// */
.card-text-ab{
  height: 100%;
  background-color: var(--bg-nav);
  justify-content: center;
}



.card-text-ab>h3{
  font-size: .7rem;
}

.card-text-ab>h1{

}

.card-text-ab>p{
margin-bottom: 1.5rem;
font-size: .6rem;
}
.card-text-ab>a{
  display: inline;
  padding: .8rem 1.5rem;
  background-color: var(--bg-head);
  color: var(--bg-nav);
  font-family: var(--font-family-mont);
  font-weight: 300;
}



.card-text-ab{
  width: 50%;

}

.sect-inf-ab-phot{
  display: block;
  width: 50%;
  height: 100%;
}

.sect-inf-ab-phot>img{
  width: 100%;
  height: 100%;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.galery-about{

}

.card-gal-ab{


}

.card-gal-ab>h3{
font-size: .8rem;
}


.card-gal-ab>h2{

}

.card-gal-ab>h2::after,.card-gal-ab>h2::before{
width: 13%;
}
.card-gal-ab>h2::after{
right: 13rem;
}

.card-gal-ab>h2::before{
left: 13rem;
}


.grid-galery{
  padding: 0 0 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0;
}
.grid-galery>div{

}

.grid-galery>div>img{
  height: 100%;
}
.grid-galery>div{

}
.grid-galery>div{
grid-area:auto !important;
}



/* --------------------------------------------------SERVICES SECTION--------------------------------------------------------------------- */
.detaill{
 
}

.items-serv{
  display: block;
  height: 15rem;
  background-color: var(--bg-nav);
}

.g-serv-sect{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;

}

.card-img-ser{

  background: url('./assets/services_main_drsk.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wr-serv{
  display: grid;
  grid-template-columns: 1fr;
}
.wr-serv>div:nth-child(even) .img-img-full{
  grid-area: 1 / 1 / 2 / 2;

}

.con-bg-layout{
  height: 100%;
  display: flex;
  gap: 1rem;
  padding: 4rem 2rem;
}

.con-bg-layout>div{
  width: 70%;
  padding: 0;
}
.con-bg-layout>div:nth-child(2){
  padding: 0 0 0 1rem;
  border-left: 2px solid var(--bg-nav);
}
.con-bg-layout>div>span{
  font-size: 1.5rem;
}
.g-cont-img-serv{
  padding-right: 1rem;
  width: 30% !important;
  display: block;
}

.con-bg-layout>div>ul{

}
.con-bg-layout>div>ul>li{
  
  font-size: 0.7rem;
  font-family: var(--font-family-mont);
  font-weight: 400;
  font-style: normal;
  line-height: 1.9em;
  letter-spacing: 0.02em;
}


.img-img-full{
  width: 100%;
  height: 100%;
}





/* --------------------------------------------------EMPLOYMET SECTION ---------------------------------------------------------------------- */
.m-emp {
  background: url(./assets/employment_main_desk.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*--------------------------------------------------CONTACT SECTION--------------------------------------------------------------------------*/


.sect-sec-cont{
  background-color: var(--bg-nav);
}
.card-img-cont {
  background: url(./assets/CONTACT_main_desk.webp);
  background-size: cover;
  background-position: center;
}

.p-lay-cont{
  padding: 3rem 0 3rem 4rem ;
  font-size: 0.7rem;
}


.p-lay-cont>h2, .p-lay-cont>div>h4{
  font-size: 1.6rem;
  }

  .p-lay-cont>div>h4{
    font-size: .8rem;
  }
  .p-lay-cont>div{
    margin-top: .3rem;
  }

  .p-lay-cont>div>span{
    font-size: 1rem;
  }
  .p-lay-cont>div>a{

  }


  /* /////////////////////////////////////////////////FORM//////////////////////////////////////////////////////////////////////////// */


  .bg-inf-cont{
    display: flex;
    justify-content: space-between;

  }

  .bg-inf-cont>.cont-det-g-inf{
    width: 40%;

  }

  .bg-inf-cont>form{
    width: 60%;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

  }

  .bg-inf-cont>form>div>label{
    font-size: 0.6rem;
  }
  .bg-inf-cont>form>input, .bg-inf-cont>form>div>textarea{
    /* padding: 0; */
  }

  .d-txtarea{
    padding: 0 2.5rem;
    grid-column: 1 / 3;
  }
  .bg-inf-cont>form>div>textarea{
    width: 100%;


  }
  .d-inp-subm{
    margin-left: -1rem;
  }
  .bg-inf-cont>form>div>input[type="submit"]{
    grid-column: 1 / 3;
    width: 50%;
    padding: .7rem;

  }



  .bg-inf-cont>form>div:nth-child(3)>input{
    border-bottom: 2px solid var(--clr-coral);
  }
    
  }


@media (min-width:998px) {


  

    .m-l-logo{
      margin-left: 4rem;
    }
    
    .container-nav-l{
    
      margin: 0 4rem;
      gap: 1rem;
    
    }


    
    /* ------------------------------------------MAIN HOME-------------------------------------------------- */
    
 
    .cont-bg-hm-sect1{
      position: fixed;
      width: 100%;
    }
    

    .cont-welc-home > p{
      padding: 1rem 12rem;
      font-size: .9rem;
      letter-spacing: 0.03em;
    
    
    }
    
    
    /* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    

    

    .s-sect-hom>h2::after{
      right: 14rem;
    }
    
    .s-sect-hom>h2::before{
      left: 14rem;
    }
    
    
 
    
    .cont-item-h>a>img{
      width: 30%;
    }
    
    
    
    
    
    /* ---------------------------------------------Footer------------------------------------------------------------------------- */
    

    .copy-bef{
      padding: 1rem 3rem;
      height: 7rem;
      gap: .5rem;
    }
    
    .copy-bef>div{
      font-size: .9rem;
    }

    .copy-bef>div>div>a{
      font-size: .8rem;
    }

    
    
    
    
    
    
    
    
    
    
    /* --------------------------------------------------------ABOUT SECTION------------------------------------------------------------------- */
    

    
    

    /* /////////////////////////////////////////////////////////// */

    .card-text-ab{
      padding-left: 3rem;
    }
    
    .card-text-ab>h3{
      font-size: .8rem;
    }
    
    .card-text-ab>h1{
      font-size: 2rem;
    }
    
    .card-text-ab>p{
      font-size: .8rem;
    }

    .card-text-ab>a{
      display: inline;
      width: 30%;
    }
    

 
    
    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    
 
    
    .card-gal-ab>h3{
    font-size: .9rem;
    }
    
    
    .card-gal-ab>h2{
      font-size: 2.5rem;
    }
    

    .card-gal-ab>h2::after{
    right: 17rem;
    }
    
    .card-gal-ab>h2::before{
    left: 17rem;
    }
    
    
    .grid-galery{
      padding: 0 0 3rem;

    }

  
    
    
    
    /* --------------------------------------------------SERVICES SECTION--------------------------------------------------------------------- */
  

    

    .con-bg-layout>div>span{
      font-size: 1.9rem;
    }

    .con-bg-layout>div>ul>li{
      
      font-size: 0.9rem;
    }
    

    
    
    
    
    
    /* --------------------------------------------------EMPLOYMET SECTION ---------------------------------------------------------------------- */
  
    .card-text-ab>h1{
      font-size: 2.5rem;
    }

    .card-text-ab>p{
      font-size: 1rem;
    }
    
    /*--------------------------------------------------CONTACT SECTION--------------------------------------------------------------------------*/
    
    /* .card-img-cont {
      background: url(/src/assets/CONTACT_main_desk.webp);
      background-size: cover;
      background-position: center;
    } */

    .p-lay-cont{
      padding: 3rem 0 3rem 5rem ;
      font-size: 0.8rem;
    }
    
    
    .p-lay-cont>h2, .p-lay-cont>div>h4{
      font-size: 2rem;
      }
    
      .p-lay-cont>div>h4{
        font-size: .9rem;
      }
  
    
      .p-lay-cont>div>span{
        font-size: 1.2rem;
      }
      .p-lay-cont>div>a{
        font-size: .9rem;
      }
    
    
      /* /////////////////////////////////////////////////FORM//////////////////////////////////////////////////////////////////////////// */
    
    
    
    
      .bg-inf-cont>form{
        padding: 3rem 0;
    
      }

      .d-txtarea{
        padding: 0 3.1rem;

      }
      .d-inp-subm{
        margin-left: -1.6rem;
      }
    
      .bg-inf-cont>form>input[type="submit"]{
        grid-column: 1 / 3;
        width: 30%;
        padding: .7rem;
    
      }
    

}


@media (min-width:1200px) {

    .cont-welc-home {
      gap: 1rem;
    }
     
    .cont-welc-home > p{
      padding: 1rem 22rem;
      font-size: .8rem;


    }

    .cont-but-h>a{
      width: 14%;
    }
    .card-gal-ab>h2::after{
    right: 22rem;
    }
    
    .card-gal-ab>h2::before{
    left: 22rem;
    }
    

     
    .s-sect-hom>h2::after{
      right: 18rem;
    }
        
    .s-sect-hom>h2::before{
      left: 18rem;
    }
        
           
        
   
 
  .d-txtarea{
   padding: 0 3.8rem;

  }

}