
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,300;1,300&display=swap');

:root{
  --bg-head: rgba(39,39,39);
  --bg-head-light: rgba(0, 0, 0, 0.618);
  --bg-nav: #ffffff;
  --clr-coral: #C33329;
  --clr-yellow: #F6BA33;
  --font-family: "Bebas Neue", sans-serif;
  --font-family-mont:"Montserrat", sans-serif;   /* var(--font-family-mont); */
}
#root {
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* gap: 1rem; */
  /* background-color: var(--bg-head); */

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  position: absolute;
  height: 6rem;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--bg-head);
}
.wrapp-nav{
  position: relative;
  top: 1.5rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-nav);
  z-index: -1;
}
.navbar{
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-nav);
}

.logo{
  position: absolute;
  height: 4.5rem;
  display: flex;
  align-items: center;
  z-index: 2;
}
.m-l-logo{
  margin-left: 1rem;
}

.container-nav-l{
  margin-top: -2rem;
  width: 100%;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  visibility: hidden;

}
a{

  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--font-family-mont);
  color: var(--bg-nav);
  line-height: 1.1428571429;
  letter-spacing: 4px;
  cursor: pointer;
}


.r-menu{
  padding: 1.5rem 0;
  width: 100%;
  height: 4.5rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: end;
  border: 0;
}

.img-m{
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  background: url(../src/assets/menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.head-togg{
  position: fixed;
  overflow-y: hidden;
  height: 100vh;
  background-color: var(--bg-head-light);
  color: var(--nav-bg);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  z-index: 10;

}

.url-togg {

  padding: 0;
  background: url(../src/assets/close.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.a-visible{
  visibility: visible;
}

.active{
  color: var(--clr-yellow);
}




.cont-routes{
  width: 100%;
  margin-top: 6rem;

}

/* ------------------------------------------MAIN HOME-------------------------------------------------- */



.f-sect-hom{
  height: calc(100vh - 6rem);

}
.cont-bg-hm-sect1{
  height: 100%;
  background: url(../src/assets/jas-home.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.cont-welc-home{
  position: absolute;
  width: 100%;
  top: 0rem;
  background-color: transparent;
  height: 100%;
  padding: 2rem 1rem;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--bg-nav);
}
.cont-welc-h{
  width: 100%;
  
}

.txt-welc-hom{
  width: 100%;
  margin-bottom: 1.2rem;
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: 0.3em;
  text-align: center;
  font-family: var(--font-family-mont);
}
.cont-welc-h>h1{
  width: 100%;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.4em;

}

.cont-welc-home > p{

  width: 100%;
  text-align: center;
  font-family: var(--font-family-mont);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8em;
  font-size: 1rem;
  letter-spacing: 0.02em;


}


.cont-but-h{

  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--bg-nav);

}

.cont-but-h > a{
  padding: 1rem 3rem;
  align-items: center;
  font-family: var(--font-family-mont);
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: 0.3em;
  background-color: var(--clr-coral);
  border: none;
  cursor: pointer;

}




/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.s-sect-hom{
  padding: 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--bg-nav);
}

.s-sect-hom>h3{

  width: 100%;
  text-align: center;
  font-size: .9rem;
  font-family: var(--font-family-mont);
  font-weight: 400;
  letter-spacing: 0.3em;
  color: #272727;
}

.s-sect-hom>h2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.4em;
  color: var(--clr-coral);

}

.s-sect-hom>h2::after,.s-sect-hom>h2::before{
  width: 15%;
  height: 1px;
  content: '';
  position: absolute;
  border-top: 2px solid var(--bg-head);
}
.s-sect-hom>h2::after{
  right: 2.5rem;
}

.s-sect-hom>h2::before{
  left: 2.5rem;
}


.cont-item-h{
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  background-color: var(--bg-nav);

}
.cont-item-h>a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cont-item-h>a>img{
  width: 20%;
}

.cont-item-h>a>h3{
  width: 80%;
  line-height: 2em;
  letter-spacing: .15em;
  cursor: pointer;
  text-align: center;
  font-family: var(--font-family-mont);
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--clr-yellow);

}




/* ---------------------------------------------Footer------------------------------------------------------------------------- */
.copy-bef{
  display: none;
}

.copy{
  margin-bottom: 3rem;
  background-color: var(--bg-head);
  /* background-color: var(--bg-head); */
  height:5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy>h4{
  width: 100%;
  text-align: center;
  font-size: .7rem;
  letter-spacing: 0.3em;
  line-height: 1.4em;
  color: var(--bg-nav);
}
.cont-help{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: black;
  height: 7vh;
  display: flex;
  z-index: 10;
}
.cont-help>div{
  height: 100%;
  width: 25%;
  border-right:1px solid rgba(255, 255, 255, 0.163);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-help>div>img{
  width: 50%;
  height: 50%;
}









/* --------------------------------------------------------ABOUT SECTION------------------------------------------------------------------- */
.cont-routes{
    /* margin-bottom: 10rem; */
    /* overflow: hidden; */
}
.card-about{

  /* height: 100rem; */
  display: flex;
  flex-direction: column;
  gap: 2rem; 
  /* background-color: var(--bg-nav);*/
}
.card-about-d{
  width: 100%;
  height: 25rem;

}

.card-img-ab{
  position: absolute;
  width: 100%;
  background: url('../src/assets/about_main.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.photo-card-all{
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cont-m-pho-lap{
  position: absolute;
  width: 100%;
  height: 25rem;
}


.cover-bg-photo{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-head-light);
}

.wrap-img-card{
  position: absolute;
  width: 100%;
  height: 25rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.wrap-img-card>img{
  width: 100%;

}

.card-text-ab{
  /* position: absolute; */
  padding: 0 1rem;
}

.card-text-ab>h3, .card-text-ab>div:nth-child(1)>h3{
  color: var(--clr-yellow);
  font-family: montserrat, sans-serif;
  font-size: .8rem;
  font-weight: 400;
  letter-spacing: 0.3em;
}

.card-text-ab>h1, .card-text-ab>div:nth-child(1)>h1{
  margin-top: 1rem;
  color: var(--clr-coral);
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.4em;
}

.card-text-ab>p, .card-text-ab>div:nth-child(1)>p{
  margin-top: 1rem;
  margin-bottom: 1em;
  color: var(--bg-head);
  font-family: var(--font-family-mont);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.02em;
  line-height: 1.8em;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.galery-about{
  background-color: var(--clr-yellow);

  /* margin-bottom: 12rem; */

}

.card-gal-ab{
  background-color: var(--clr-yellow);
  height: 10rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; 

}

.card-gal-ab>h3{

  font-family: montserrat, sans-serif;
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: 0.3em;

}


.card-gal-ab>h2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.4em;


}

.card-gal-ab>h2::after,.card-gal-ab>h2::before{
  width: 15%;
  height: 1px;
  content: '';
  position: absolute;
  border-top: 2px solid var(--bg-head);
}
.card-gal-ab>h2::after{
  right: 2.5rem;
}

.card-gal-ab>h2::before{
  left: 2.5rem;
}


.grid-galery{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: .5rem;
  overflow: hidden;
}
.grid-galery>div{
  width: 100%;
}

.grid-galery>div>img{
  width: 100%;
  /* height: 100%; */
  object-fit:cover;
  user-select: none;
}
.grid-galery>div{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.grid-galery>div:nth-child(1){
  grid-area: 1 / 1 / 3 /3;
}

.grid-galery>div:nth-child(2){
  grid-area: 3 / 1 / 4 /2;
}
.grid-galery>div:nth-child(3){
  grid-area: 3 / 2 / 4 /3;
}
.grid-galery>div:nth-child(4){

  grid-area: 4/ 1 / 6 /3;
}

.grid-galery>div:nth-child(5){
  grid-area: 6 / 1 / 7 /2;
}
.grid-galery>div:nth-child(6){
  grid-area: 6 / 2 / 7 /3;
}


/* --------------------------------------------------SERVICES SECTION--------------------------------------------------------------------- */
.detaill{
 
}

.items-serv{
  display: none;
}

.items-serv>.cont-item-h{
  margin-bottom: 0;
}
.g-serv-sect{
  display: grid;
  grid-template-columns: 1fr;

}
.card-img-ser{

  background: url('../src/assets/grid/1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cont-det-g-inf{
  background: url('../src/assets/layout.webp');
  background-size: cover;
  background-position: center;
}

.con-bg-layout{
  background-color: rgba(195,51,41,.85);
}

.con-bg-layout>div{
  width: 100%;
  padding: 3rem 2.5rem;
}

.con-bg-layout>div>span{
  width: 100%;
  display: block;
  font-size: 1.8rem;
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: 0.05em;
  color: var(--bg-nav);
}
.g-cont-img-serv{
  display: none;
}

.con-bg-layout>div>ul{
  padding: 1rem 1rem;
  color: var(--bg-nav);
}
.con-bg-layout>div>ul>li{
  
  font-size: 0.9rem;
  font-family: var(--font-family-mont);
  font-weight: 400;
  font-style: normal;
  line-height: 1.9em;
  letter-spacing: 0.02em;
}


.img-img-full{
  width: 100%;
  height: 40vh;
}

.img-img-full>img{
  width: 100%;
  height: 100%;
  background-position: center center;
}




/* --------------------------------------------------EMPLOYMET SECTION ---------------------------------------------------------------------- */
.m-emp {
  /* background: url(/src/assets/employment_main.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.card-text-ab{
  /* position: absolute; */
  display: flex;
  padding: 0 1rem;
}

.card-text-ab>h3, .card-text-ab>div:nth-child(1)>h3{
  color: var(--clr-yellow);
  font-family: montserrat, sans-serif;
  font-size: .8rem;
  font-weight: 400;
  letter-spacing: 0.3em;
}

.card-text-ab>h1, .card-text-ab>div:nth-child(1)>h1{
  margin-top: 1rem;
  color: var(--clr-coral);
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.4em;
}

.card-text-ab>p, .card-text-ab>div:nth-child(1)>p{
  margin-top: 1rem;
  margin-bottom: 1em;
  color: var(--bg-head);
  font-family: var(--font-family-mont);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.02em;
  line-height: 1.8em;
}



/*--------------------------------------------------CONTACT SECTION--------------------------------------------------------------------------*/


.sect-sec-cont{
  background-color: var(--bg-nav);
}
.card-img-cont {
  background: url(/src/assets/CONTACT_main.webp);
  background-size: cover;
  background-position: center;
}

.p-lay-cont{
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.9rem;
  font-family: var(--font-family-mont);
  font-weight: 400;
  font-style: normal;
  line-height: 1.9em;
  letter-spacing: 0.02em;
  color: var(--bg-nav);
}


.p-lay-cont>h2, .p-lay-cont>div>h4{
  width: 100%;
  display: block;
  font-size: 1.8rem;
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: 0.05em;
  color: var(--bg-head);
  }

  .p-lay-cont>div>h4{
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--font-family-mont);
  }
  .p-lay-cont>div{
    margin-top: 1rem;
    padding: 0;
  }

  .p-lay-cont>div>span{
    font-size: 1.2rem;
  }
  .p-lay-cont>div>a{
    color: var(--bg-nav);
    text-decoration-line: underline;
    letter-spacing: .5px;
  }


  /* /////////////////////////////////////////////////FORM//////////////////////////////////////////////////////////////////////////// */




  .bg-inf-cont>form{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .bg-inf-cont>form>input, .bg-inf-cont>form>textarea{
    width: 70%;
    margin: 0 2rem;
    padding: 1.5rem 0 1rem;
    border: none;
    border-bottom: 2px solid black;
    font-family: var(--font-family-mont);
    font-size: 1rem;
  }

  .bg-inf-cont>form>textarea{
    padding: 1.5rem 0 3rem 1rem;
  }

  .bg-inf-cont>form>input[type="submit"]{
    width: 40%;
    border: none;
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--clr-coral);
    cursor: pointer;
    color: var(--bg-nav);
  }








@media (min-width:768px) {
    
header{
  position: fixed;
}
.wrapp-nav{
  height: 5rem;
}
.navbar{
  width: 100%;
  height: 5rem;
  flex-direction: row;
  justify-content: space-around;
}

.logo{
  position: absolute;
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 2;
}
.m-l-logo{
  margin-left: 2rem;
}

.container-nav-l{

  margin: 0 3rem;
  height: 5rem;
  width: 100%;
  padding-top: 0;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: .7rem;
  visibility: visible;

}
.container-nav-l>a:nth-child(1){
  display: none;
}
a{
  font-size: .6rem;
  color: var(--bg-head);
}


.r-menu{
  display: none;
}


.head-togg{
  height: 5rem;
  background-color: var(--bg-nav);
  z-index: -1;

}


/* ------------------------------------------MAIN HOME-------------------------------------------------- */



.f-sect-hom{
  /* overflow-x: hidden; */
  /* position: fixed; */
  /* height: calc(100vh - 6rem); */
  /* background: url(../src/assets/jas-home.webp); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
.cont-bg-hm-sect1{
  position: fixed;
  width: 100%;
  /* height: 100vh; */

  /* height: 100%; */
  /* z-index: -1; */
}

.cont-welc-home{
  /* position: absolute;
  width: 100%;
  top: 0rem; */
  /* background-color: transparent; */
  /* height: 100%; */
  /* padding: 2rem 1rem;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; */
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* color: var(--bg-nav); */
}

/* .cont-welc-h{
  width: 100%;
  
} */

.txt-welc-hom{
  /* width: 100%;
  margin-bottom: 1.2rem;
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: 0.3em;
  text-align: center;
  font-family: var(--font-family-mont); */
}
.cont-welc-h>h1{
  /* width: 100%;
  text-align: center;
  font-family: "Bebas Neue", sans-serif; */
  font-size: 2.5rem;
  /* font-weight: 200; */
  letter-spacing: 0.1em;
  /* line-height: 1.4em; */

}

.cont-welc-home > p{

  /* width: 100%;
  text-align: center;
  font-family: var(--font-family-mont);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */
  /* line-height: 1.8em; */
  font-size: 1.1rem;
  letter-spacing: 0.03em;


}


.cont-but-h{

  /* display: flex; */
  flex-direction: row;
  gap: 2rem;
  /* color: var(--bg-nav); */

}

.cont-but-h > a{
  /* width: 50%; */
  padding: 1rem;
  /* align-items: center;
  font-family: var(--font-family-mont);
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: 0.3em;
  background-color: var(--clr-coral);
  border: none;
  cursor: pointer; */
  color: var(--bg-nav);

}




/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.s-sect-hom{
  /* padding: 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--bg-nav); */
}

.s-sect-hom>h3{

  /* width: 100%;
  text-align: center;
  font-size: .9rem;
  font-family: var(--font-family-mont);
  font-weight: 400;
  letter-spacing: 0.3em;
  color: #272727; */
}

.s-sect-hom>h2{
  /* width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif; */
  font-size: 3rem;
  /* font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.4em;
  color: var(--clr-coral); */

}

.s-sect-hom>h2::after,.s-sect-hom>h2::before{
  /* width: 15%;
  height: 1px;
  content: '';
  position: absolute;
  border-top: 2px solid var(--bg-head); */
}
.s-sect-hom>h2::after{
  right: 8rem;
}

.s-sect-hom>h2::before{
  left: 8rem;
}


.cont-item-h{
  height: 100%;
  padding: 0 2rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

}
.cont-item-h>a{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  gap: 1rem;
}

.cont-item-h>a>img{
  width: 50%;
}

.cont-item-h>a>h3{
  font-size: 0.7rem;
  /* width: 80%; */
  /* line-height: 2em; */
  /* letter-spacing: .15em; */
  /* cursor: pointer;
  text-align: center; */
  /* font-family: var(--font-family-mont);
  font-size: 0.65rem;
  font-weight: 400; */
  /* color: var(--clr-yellow); */

}




/* ---------------------------------------------Footer------------------------------------------------------------------------- */
.copy-bef{
  /* display: block; */
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  background-color: rgba(58, 57, 57, 1);
  color: var(--bg-nav);
}

.copy-bef>div{
  font-size: .7rem;
}
.s-copy-b{
  color: var(--clr-yellow);  
}
.copy-bef>div>span{
  display: block;

}
.copy-bef>div>div>a{
  font-size: .7rem;
  color: var(--bg-nav);
  letter-spacing: 0.02em;
  text-decoration: underline;
  cursor: pointer;
}
.copy-bef>div:nth-child(1){
  width: 10%;
  height: 30%;
  display: flex;
  gap: .2rem;
}
.copy-bef>div:nth-child(4){
  width: 10%;
  height: 30%;
  display: flex;
  gap: .2rem;
}
.copy-bef>div:nth-child(4)>a>img{
  width: 100%;
  height: 100%;
}










/* --------------------------------------------------------ABOUT SECTION------------------------------------------------------------------- */

.card-about{

/* height: 100rem; */
display: block;

/* background-color: var(--bg-nav);*/
}
.card-about-d{
/* width: 100%; */
height: 30rem;

}
.cont-m-pho-lap{
  position: fixed;
  z-index: -1;
  /* width: 100%; */
  height: 30rem;
}


.card-img-ab{
/* position: absolute;
width: 100%;
background: url('../src/assets/about_main.webp');
background-repeat: no-repeat;
background-size: cover;
background-position: center; */
}


.photo-card-all{
/* height: 100%;
background-size: cover;
background-repeat: no-repeat;
background-position: center; */
}



.cover-bg-photo{
/* position: absolute;
top: 0;
width: 100%;
height: 100%;
background-color: var(--bg-head-light); */
}

.wrap-img-card{
position: absolute;
bottom: 8rem;
right: 0rem;
width: 70%;
height: 15%;
padding: 0;
/* text-align: end; */
/* display: block; */
/* justify-content: end; */
/* align-items: end; */

}

.wrap-img-card>img{
/* width: 80%; */
height: 100%;
}

.cont-inf-ab{
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* /////////////////////////////////////////////////////////// */
.card-text-ab{
/* position: absolute; */
height: 100%;
/* width: 50%; */
/* padding: 4rem; */
background-color: var(--bg-nav);
}

.card-text-ab>h3{
/*   
  color: var(--clr-yellow);
  font-family: montserrat, sans-serif; */
  font-size: .7rem;
  /* font-weight: 400;
  letter-spacing: 0.3em; */
}

.card-text-ab>h1{
/* margin-top: 1rem;
color: var(--clr-coral);
font-family: "Bebas Neue", sans-serif;
font-size: 1.8rem;
font-weight: 400;
letter-spacing: 0.05em;
line-height: 1.4em; */
}

.card-text-ab>div:nth-child(1)>p{
/* /* margin-top: 1rem; */
margin-bottom: 1.5rem;
/*color: var(--bg-head);
font-family: var(--font-family-mont);
font-optical-sizing: auto;
font-weight: 400;
font-style: normal; */
font-size: .4rem;
/* letter-spacing: 0.02em;
line-height: 1.8em; */
}
.card-text-ab>a{
  /* margin-bottom: 2rem; */
  padding: .8rem 1.5rem;
  background-color: var(--bg-head);
  color: var(--bg-nav);
  font-family: var(--font-family-mont);
  font-weight: 300;
}



.card-text-ab>div:nth-child(1){
  width: 50%;

}

.card-text-ab>div:nth-child(2){
  width: 50%;
  height: 100%;
  /* background: url(/src/assets/employment_main.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.card-text-ab>div:nth-child(2)>img{
  width: 100%;
  height: 100%;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.galery-about{
/* background-color: var(--clr-yellow); */

/* margin-bottom: 12rem; */

}

.card-gal-ab{
/* background-color: var(--clr-yellow);
height: 10rem; 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;  */

}

.card-gal-ab>h3{

/* font-family: montserrat, sans-serif; */
font-size: .8rem;
/* font-weight: 400;
letter-spacing: 0.3em; */

}


.card-gal-ab>h2{
/* width: 100%;
display: flex;
justify-content: center;
align-items: center;
font-family: "Bebas Neue", sans-serif;
font-size: 2.2rem;
font-weight: 400;
letter-spacing: 0.05em;
line-height: 1.4em; */


}

.card-gal-ab>h2::after,.card-gal-ab>h2::before{
width: 13%;
/* height: 1px;
content: '';
position: absolute;
border-top: 2px solid var(--bg-head); */
}
.card-gal-ab>h2::after{
right: 13rem;
}

.card-gal-ab>h2::before{
left: 13rem;
}


.grid-galery{
  padding: 0 0 4rem;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-gap: 0;
/* overflow: hidden; */
}
.grid-galery>div{
/* width: 100%; */
}

.grid-galery>div>img{
  height: 100%;
/* width: 100%;
object-fit:cover;
user-select: none; */
}
.grid-galery>div{
/* background-size: cover;
background-repeat: no-repeat;
background-position: center center; */
}
.grid-galery>div{
grid-area:auto !important;
}

/* .grid-galery>div:nth-child(2){
grid-area: 0;
}
.grid-galery>div:nth-child(3){
grid-area: 3 / 2 / 4 /3;
}
.grid-galery>div:nth-child(4){

grid-area: 4/ 1 / 6 /3;
}

.grid-galery>div:nth-child(5){
grid-area: 6 / 1 / 7 /2;
}
.grid-galery>div:nth-child(6){
grid-area: 6 / 2 / 7 /3;
} */


/* --------------------------------------------------SERVICES SECTION--------------------------------------------------------------------- */
.detaill{
 
}

.items-serv{
  display: block;
  height: 15rem;
  background-color: var(--bg-nav);
}

.g-serv-sect{
  /* display: grid; */
  grid-template-columns: 1fr 1fr;

}
.card-img-ser{

  /* background: url('../src/assets/grid/1.webp');
  background-size: cover;
  background-position: center;class="g-cont-img-serv"
  background-repeat: no-repeat; */
}

.cont-det-g-inf{
  /* background: url('../src/assets/layout.webp');
  background-size: cover;
  background-position: center; */
}



.g-serv-sect:nth-child(2)>div:nth-child(2){
  grid-area: 1 / 1 / 2 /2;
}
.g-serv-sect:nth-child(4)>div:nth-child(2){
  grid-area: 1 / 1 / 2 /2;
}
.g-serv-sect:nth-child(6)>div:nth-child(2){
  grid-area: 1 / 1 / 2 /2;
}
.con-bg-layout{
  /* background-color: rgba(195,51,41,.85); */
  height: 100%;
  display: flex;
  gap: 1rem;
  padding: 4rem 2rem;
}

.con-bg-layout>div{
  width: 70%;
  padding: 0;
  /* width: 100%;
  padding: 3rem 2.5rem; */
}
.con-bg-layout>div:nth-child(2){
  padding: 0 0 0 1rem;
  border-left: 2px solid var(--bg-nav);
}
.con-bg-layout>div>span{
  font-size: 1.5rem;
  /* width: 100%;
  display: block;
  font-size: 1.8rem;
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: 0.05em;
  color: var(--bg-nav); */
}
.g-cont-img-serv{
  padding-right: 1rem;
  width: 30% !important;
  display: block;
}

.con-bg-layout>div>ul{
  /* padding: 1rem 1rem;
  color: var(--bg-nav); */
}
.con-bg-layout>div>ul>li{
  
  font-size: 0.7rem;
  font-family: var(--font-family-mont);
  font-weight: 400;
  font-style: normal;
  line-height: 1.9em;
  letter-spacing: 0.02em;
}


.img-img-full{
  width: 100%;
  height: 100%;
}
/* 
.img-img-full>img{
  width: 100%;
  height: 100%;
  background-position: center center;
 
} */




/* --------------------------------------------------EMPLOYMET SECTION ---------------------------------------------------------------------- */
.m-emp {
  /* background: url(/src/assets/employment_main.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.card-text-ab{

}


/*--------------------------------------------------CONTACT SECTION--------------------------------------------------------------------------*/


.sect-sec-cont{
  background-color: var(--bg-nav);
}
.card-img-cont {
  background: url(/src/assets/CONTACT_main.webp);
  background-size: cover;
  background-position: center;
}

.p-lay-cont{
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.9rem;
  font-family: var(--font-family-mont);
  font-weight: 400;
  font-style: normal;
  line-height: 1.9em;
  letter-spacing: 0.02em;
  color: var(--bg-nav);
}


.p-lay-cont>h2, .p-lay-cont>div>h4{
  width: 100%;
  display: block;
  font-size: 1.8rem;
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: 0.05em;
  color: var(--bg-head);
  }

  .p-lay-cont>div>h4{
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--font-family-mont);
  }
  .p-lay-cont>div{
    margin-top: 1rem;
    padding: 0;
  }

  .p-lay-cont>div>span{
    font-size: 1.2rem;
  }
  .p-lay-cont>div>a{
    color: var(--bg-nav);
    text-decoration-line: underline;
    letter-spacing: .5px;
  }


  /* /////////////////////////////////////////////////FORM//////////////////////////////////////////////////////////////////////////// */




  .bg-inf-cont>form{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .bg-inf-cont>form>input, .bg-inf-cont>form>textarea{
    width: 70%;
    margin: 0 2rem;
    padding: 1.5rem 0 1rem;
    border: none;
    border-bottom: 2px solid black;
    font-family: var(--font-family-mont);
    font-size: 1rem;
  }

  .bg-inf-cont>form>textarea{
    padding: 1.5rem 0 3rem 1rem;
  }

  .bg-inf-cont>form>input[type="submit"]{
    width: 40%;
    border: none;
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--clr-coral);
    cursor: pointer;
    color: var(--bg-nav);
  }
    
  }